div.header{
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    h3{
        font-family: 'Times New Roman', Times, serif;
        color: blue;
    }
    h4{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
    }
    h6{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        color: red;
    }
    img{
        width: 100px;
        height: 100px;
    }

}
div.content{
    h3{
        font-family: 'Times New Roman', Times, serif; 
    }
}
div.footer{
    background-color: blue;
    width: 100%;
    height: 250px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: Times;
    font-weight: bold;
    position:relative;
    top:10%;
}